.dropdownsearch {
    width: 100%;
    display: flex;
    align-items: center;
}
.alignleft {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.alignright {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.card {
        background: var(--surface-card);
        padding: 2rem;
        border-radius: 10px;
        margin-bottom: 1rem;
    } 
